<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="consoleLog"
            xsi:type="Console"
            layout="${message}" />
    <target name="debugLog"
            xsi:type="File"
            filename="jHackson.log"
            layout="${longdate}|${message}|${exception:format=toString}"
            deleteOldFileOnStartup="true" />
  </targets>

  <rules>
    <logger name="ConsoleLog" minlevel="Info" maxlevel="Info" writeTo="consoleLog" />
    <logger name="*" minlevel="Debug" writeTo="debugLog" />
  </rules>
</nlog>